<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gl.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.gl.kotlin.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gl.kotlin.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gl.kotlin.activity.FlowActivity" />
        <activity android:name="com.gl.kotlin.activity.HotCityActivity" />
        <activity android:name="com.gl.kotlin.activity.CoroutineActivity" />
        <activity android:name="com.gl.kotlin.activity.RetrofitActivity" />
        <activity android:name="com.gl.kotlin.activity.ChannelActivity" />
    </application>

</manifest>